@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Julius+Sans+One&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general styling */

body {
    font-family: 'Cormorant Garamond', sans-serif;
    text-align: center;
}

header {
    background-color: black;
    color: whitesmoke;
}

main {
    background-color: whitesmoke;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: black;
    color: whitesmoke;
}

h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 350%;
}

h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 200%;
    padding: 3%;


}

h3 {
    font-size: 150%;
    padding: 3%;

}

p {
    font-size: 130%;
    font-weight: 500;
    padding: 3%;

}



/* header styling */


/*main styling */


/* footer styling */


/* media querys */