/* general styling */


header {
    background-color: black;
    color: whitesmoke;
}

main {
    background-color: whitesmoke;
    color: black;
}

footer {
    background-color: black;
    color: whitesmoke;
}

/* header styling */


/*main styling */


/* footer styling */


/* media querys */